@keyframes blinkCursor {
  0% {
    content: '_';
  }

  30% {
    content: '_';
  }

  100% {
    content: '\00a0';
  }
}

.blinking-cursor::after {
  animation: blinkCursor 0.9s infinite;
  content: "_";
}
