/* PressStart2P font by Cody "CodeMan38" Boisclair
 * LICENSE: assets/font/PStart2Play/LICENSE.txt
 * FONTLOG: assets/font/PStart2Play/FONTLOG.txt
 */
@font-face {
  font-family: PStart2Play;
  src: url("../font/PStart2Play/PressStart2P.ttf");
}

/* Gruppo-Regular font by vernon adams
 * LICENSE: assets/font/Gruppo/LICENSE.txt
 */
@font-face {
  font-family: Gruppo-Regular;
  src: url("../font/Gruppo/Gruppo-Regular.ttf");
}

/* CutiveMono-Regular font by vernon adams
 * LICENSE: assets/font/CutiveMono/LICENSE.txt
 */
@font-face {
  font-family: CutiveMono-Regular;
  src: url("../font/CutiveMono/CutiveMono-Regular.ttf");
}

body {
  background-color: #FFF;
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #CCC;
}

.nojs {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 7% 100%, 0 66%, 0% 0%);
  background-color: #ff8000;
  color: #FFF;
  padding: .2rem;
  padding-top: .9rem;
  padding-left: 1rem;
  font-family: Arial;
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.info-notice {
  position: fixed;
  bottom: .2rem;
  right: .2rem;
  font-family: Arial;
  font-size: .7rem;
  color: #333;
}

.legal-stuff {
  right: auto;
  left: .2rem;
}

.info-notice > a {
  color: #333;
}

.container {
  position: relative;
  min-height: calc(100vh - 2rem * 2);
  padding: 2rem;
  max-width: 80rem;
  margin: auto;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pixelfont {
  font-family: PStart2Play;
}

.normalfont {
  font-family: CutiveMono-Regular;
}

.pictures {
  position: relative;
  width: 100%;
  height: 10rem;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.pic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar {
  background-image: url("../img/avatar.png");
  transition: opacity 1s ease-out;
}

.realpic {
  background-image: url("../img/newAvatar.jpg");
  transition: opacity 1s ease-out;
}

.nickname {
  font-size: 2.5rem;
  color: #CCC;
}

.title {
  display: inline-block;
  font-size: .75rem;
  color: #CCC;
  margin-top: 5px;
}

.email, .ssh-key {
  display: inline-block;
  font-size: .6rem;
  color: #CCC;
  margin-top: 2rem;
}

.ssh-key:hover {
  text-decoration: underline;
  cursor: pointer;
}

.email>.pgp {
  vertical-align: super;
  font-size: .5rem;
  margin-left: .2rem;
}

ul.social {
  margin: auto;
  padding: 0;
  margin-top: .5rem;
  font-size: 0;
}

ul.social>li {
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  color: #CCC;
  padding: 0;
}

ul.social>li:not(:first-child)::before {
  content: '\00B7';
  margin: 0 0.2rem 0 0.2rem;
}
