/* Monospace-Regular font by George Williams
 * LICENSE: assets/font/Monospace/LICENSE.txt
 */
@font-face {
  font-family: Monospace-Regular;
  src: url("../font/Monospace/Monospace.ttf");
}

/* Monospace-Bold font by George Williams
 * LICENSE: assets/font/Monospace/LICENSE.txt
 */
@font-face {
  font-family: Monospace-Bold;
  src: url("../font/Monospace/MonospaceBold.ttf");
}

.terminal {
  position: absolute;
  width: 48rem;
  height: 25rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: rgba(0, 43, 54, 0.9);
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.4);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-family: Monospace-Regular;
  overflow: hidden;
}

.terminal>.titlebar {
  position: relative;
  height: 1.6rem;
  width: 100%;
  background-color: #30343F;
  user-select: none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.terminal>.titlebar>.title {
  width: 100%;
  text-align: center;
  font-color: #8B8F9A;
  font-weight: bold;
}

.terminal>.titlebar>.balls {
  position: absolute;
  top: .15rem;
  left: .3rem;
}

.balls>.ball {
  display: inline-block;
  border-radius: 100%;
  width: .50rem;
  height: .50rem;
  background-color: #FFF;
}

.balls>.ball.red {
  background-color: #AA1111;
}

.balls>.ball.red:hover {
  background-color: #660000;
}

.balls>.ball.yellow {
  background-color: #EEAA11;
}

.balls>.ball.yellow:hover {
  background-color: #AA6600;
}

.balls>.ball.green {
  background-color: #11EE11;
}

.balls>.ball.green:hover {
  background-color: #00AA00;
}

.terminal>.content {
  height: calc(100% - 1.6rem);
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.terminal>.content::-webkit-scrollbar {
  width: .8rem;
}

/* Track */
.terminal>.content::-webkit-scrollbar-track {
  background: rgba(63, 67, 69, 1);
}

/* Handle */
.terminal>.content::-webkit-scrollbar-thumb {
  background: #777B86;
  border-radius: 10px;
  border: .2rem solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
.terminal>.content::-webkit-scrollbar-thumb:hover {
  background: #666A75;
  border-radius: 10px;
  border: .2rem solid transparent;
  background-clip: content-box;
}

.terminal>.content>ul {
  list-style: none;
  margin: .15rem 0 0 .15rem;
  padding: 0;
  color: #839496;
  font-size: .91rem;
}

.terminal>.content>ul>li>.sol {
  color: #5F8AAB;
  font-family: Monospace-Bold;
  font-weight: 700;
}

.terminal>.content>ul>li>.sol:before {
  content: ':';
  color: #839496;
}

.terminal>.content>ul>li>.sol:after {
  content: '$ ';
  color: #839496;
}

.terminal>.content>ul>li:not(.response):before {
  content: 'webuser@f012.dev';
  color: #88DF2C;
  font-family: Monospace-Bold;
  font-weight: 700;
}

.terminal>.content>ul>li {
  content: ':';
  color: #839496;
}

.terminal>.content>ul>li>a {
  color: #839496;
}

.terminal>textarea {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  width: 76%;
  opacity: 0;
}

.terminal>textarea:focus {
  outline-width: 0;
}
